<h1>Welcome to new TO DO LIST App</h1>

<p><%= link_to "Add", "#", remote: true, id:"add-task-link"%>&nbsp;<a href="">l</a>&nbsp;<%= link_to "Change", "", remote: true, id:"change-order-link"%></p>

<%= render partial: 'shared/form_new' %>

<div id="todolist" class="">
  <ul class="unstyled-list">
    <li class="text-center"><strong>Order</strong></li>
    <li class="text-center"><strong>Title</strong></li>
    <li class="text-center"><strong>Time</strong></li>
    <li class="text-center"><strong>Del.</strong></li>
  </ul>
<div id="todolist-body">
  <% @tasks.order(:order).each do |task| %>
    <%= render partial: 'task', locals: {task: task} %>
  <% end %>

</div>

  <ul id="todolist-total" class="unstyled-list">
    <li></li>
    <li style="text-align: right"> Total :</li>
    <li id="total-list" class="text-center"><%=  @sumtime.to_s + " h" %></li>
    <li></li>
  </ul>
</div>

<br/>
<br/>
<br/>

<div>
  <ul class="agenda-fond">
    <li class="agenda-titre">
      <div id="add-task-button">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      </div>
      <strong>Aujourd'hui</strong>
      <div></div>
    </li>
  <% 16.times do |i| %>
    <li id="hour-<%=i+8%>" class="snoppy <%='lunch' if [5, 12].include? i %>" data-timer="<%=i%>">
      <div class="timer"><%= i + 8 %>h</div>
      <div class="buttin">
      <%= puts @tasks.where(timer: i) %>
        <%= render partial: 'taskbox', locals:{ task: @tasks.where(timer: i).first } unless @tasks.where(timer: i).empty? %>
      </div>
      <div class="timer"></div>
    </li>
  <% end %>
  </ul>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
